<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Refresh" content="10">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.jpg') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://kit.fontawesome.com/0ad5947fc3.js" crossorigin="anonymous"></script>

    <title>СОКТ-викторина | Рейтинг</title>
</head>

<body>
    <div class="rating">
        <div class="rating__inner">
            <h2 class="rating__title"><i class="fa-solid fa-trophy"></i>Рейтинг игроков в реальном времени</h2>

            <div class="rating__card">
                <table class="rating__table">
                    <thead>
                        <tr>
                            <th class="rating__th rating__th--place">Место</th>
                            <th class="rating__th">Имя</th>
                            <th class="rating__th">Фамилия</th>
                            <th class="rating__th">Факультет</th>
                            <th class="rating__th rating__th--num"><i class="fa-solid fa-circle-question"></i>Вопросов</th>
                            <th class="rating__th rating__th--num"><i class="fa-solid fa-star"></i>Очков</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr class="rating__row">
                            <td class="rating__td rating__td--place">
                                <span class="rating__place{% if loop.index <= 3 %} rating__place--{{ loop.index }}{% endif %}">{{ loop.index }}</span>
                            </td>
                            <td class="rating__td" title="{{ user.id }}">{{ user.name }}</td>
                            <td class="rating__td">{{ user.last_name }}</td>
                            <td class="rating__td rating__td--faculty">{{ user.faculty }}</td>
                            <td class="rating__td rating__td--num">{{ user.answers|length }}</td>
                            <td class="rating__td rating__td--num rating__td--score">{{ user.score }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</body>

</html>
